html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    background-color: #fafafa;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  width: 100%;
  text-align: left;
  height: 76px;
  background-color: #ffffff;
  border-bottom: 1px solid #dbdbdb;
  z-index:2;
  vertical-align: center; 
}

.headerleft {
  padding: 23px 0 0 155px;
  text-align: left;
}
.headercenter {
  padding-top: 25px;
  vertical-align: center;
  text-align: center;
}

.search {
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 18px;
  text-align: center;
  font-weight: 300;
  color: rgb(153, 153, 153);
  font-size: 14px;
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  outline: 0;
  width: 210px;
  height: 24px;
  z-index: 2;
  background-color: #fafafa;
}

.headerright {
  padding: 27px 0 0 0px;
  vertical-align: center;
  text-align: right;
}


.icon1 {
background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_89e8abda69de.png/89e8abda69de.png);
background-position-x: -227px;
background-position-y: -197px;
background-repeat-x: ;
background-repeat-y: ;
background-size: 355px 344px;
border-bottom-color: rgb(0, 53, 105);
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 53, 105);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(0, 53, 105);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(0, 53, 105);
border-top-style: none;
border-top-width: 0px;
color: rgb(0, 53, 105);
cursor: pointer;
display: inline-block;
font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
font-size: 14px;
font-stretch: 100%;
font-style: normal;
font-variant-caps: normal;
font-variant-east-asian: normal;
font-variant-ligatures: normal;
font-variant-numeric: normal;
font-weight: 400;
height: 24px;
line-height: 18px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 30px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
text-size-adjust: 100%;
vertical-align: baseline;
white-space: nowrap;
width: 24px;
-webkit-box-direction: normal;
}

.icon2 {
  background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_89e8abda69de.png/89e8abda69de.png);
  background-position-x: 0px;
  background-position-y: -295px;
  background-repeat-x: ;
  background-repeat-y: ;
  background-size: 355px 344px;
  border-bottom-color: rgb(0, 53, 105);
  border-bottom-style: none;
  border-bottom-width: 0px;
  border-image-outset: 0px;
  border-image-repeat: stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: rgb(0, 53, 105);
  border-left-style: none;
  border-left-width: 0px;
  border-right-color: rgb(0, 53, 105);
  border-right-style: none;
  border-right-width: 0px;
  border-top-color: rgb(0, 53, 105);
  border-top-style: none;
  border-top-width: 0px;
  color: rgb(0, 53, 105);
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-stretch: 100%;
  font-style: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-weight: 400;
  height: 24px;
  line-height: 18px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 30px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  text-size-adjust: 100%;
  vertical-align: baseline;
  white-space: nowrap;
  width: 24px;
  -webkit-box-direction: normal;
  }

  .icon3 {
    background-image: url(https://www.instagram.com/static/bundles/es6/sprite_glyphs_2x_89e8abda69de.png/89e8abda69de.png);
    background-position-x: -175px;
    background-position-y: -270px;
    background-repeat-x: ;
    background-repeat-y: ;
    background-size: 355px 344px;
    border-bottom-color: rgb(0, 53, 105);
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(0, 53, 105);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(0, 53, 105);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(0, 53, 105);
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(0, 53, 105);
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-stretch: 100%;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-weight: 400;
    height: 24px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 155px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    text-size-adjust: 100%;
    vertical-align: baseline;
    white-space: nowrap;
    width: 24px;
    -webkit-box-direction: normal;
    }



.container {
    height:100%;
    width: 100%;
    min-width: 1000px;
    padding-top: 77px;
    margin: 0 auto;
}
  
.feed {
    text-align: left;
    position: absolute;
    width: 602px;
    left: 50%;
    margin-left: -450px;
}

.feedelement {
  margin-top: 60px;
  margin-bottom: 40px;
  background-color: #ffffff;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
}

.stories {
  margin-top: 40px;
  text-align: left;
  position: fixed;
  width: 402px;
  left: 50%;
  margin-left: 180px;
}

.title {
  font-weight: 600;
  padding: 20px;
  color: #262626
}

.likes {
  font-weight: 600;
  padding: 20px;
  color: #262626
}

.caption {
  font-weight: 600;
  padding: 20px;
  color: #262626
}

.comment {
  font-weight: 600;
  padding: 20px;
  color: #262626;
  border-top: 1px solid #dbdbdb;  
}